.first
{ 
    height: 400px;
    color: ivory;
    text-transform: uppercase;
    text-align: center;
    background-image: url(img/ayayasin.jpg);
    background-repeat: no-repeat;
    background-position: center;
    line-height: 100px;
    font-size: xx-large;
}

.pragraph one{ font-style: italic;
    font-size: xx-large;
    text-align: center;
}

.second
{
    height: 200px;
    text-transform: uppercase;
    text-align: center;
    background: #ddd;
    margin: 10px;
    padding: 10px;
    border: 10px solid #foo;

}
.wait
{
    font-size: xx-large;
    font-weight: 900;
}
.third{
    width: 500px;
    float: left;
    margin: 60px;
    padding: 60px;
}
.fourth{
    margin: 60px;
    padding: 60px;
}
.sixth{
    width: 600px; 
    margin: 20px;
    padding: 20px;
    
}
.Fifth{
    margin: 60px;
    padding: 60px;
    float: right;
    width: 400px;
    
}
.seventh{
    width: 500;
    float: left;
    margin: 60px;
    padding: 60px;
   
}
.eighth{
    margin: 60px;
    padding: 60px;
}
.ninth{
    text-align: center;
    margin: 60px;
    padding: 60px;

}
.tenth{
    width: 300px;
    text-align: center;
    line-height: 20px;
    float: left;
    padding: 70px;
}

.Eleventh{
    text-align: center;
   padding: 60px;
    background-color: rgb(194, 65, 18);
}

